#!/usr/bin/env bash
# Vlad's Aliases

# Misc
alias ls='ls --color=auto'
alias ll='ls -lahpF' # Ubuntu & Mac compatible
alias prj='cd $PROJECTS'
alias sudo='sudo ' # Allow aliases to work with sudo
alias rmdbctrash="find . -name *\\ \\(*conflicted* -exec mv -v {} ~/.Trash/ \\;" # recursively move Dropbox conflicted files to Trash

# Reload the shell (i.e. invoke as a login shell)
alias reload='printf "Reloading BASH... " && . ~/.bash_profile && echo "done."'

# Network
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'

# Vim
alias gvim='gvim 2>/dev/null'

# GIT
alias gg='( git gui & )'

# Temp Dir
alias tmp='cd $(mktemp -d 2>/dev/null || mktemp -d -t "mytmpdir")'
alias tmpf='vim $(mktemp 2>/dev/null || mktemp -t "mytmpfile")'

# Tmux
alias ta='tmux attach-session -t'
alias tc='tmux new-session -s'
alias tl='tmux list-sessions'

# Generate Salt
alias genSalt='openssl rand -base64 32'

# RUBY
# Bundle
alias be='bundle exec'
alias bup='bundle update'
alias ber='bundle exec rake'

# DOCKER
# Docker Machine Aliases
alias dme='echo "Loading Docker Environment..." && eval "$(docker-machine env)"'
alias dmon='echo "Starting docker machine..." && docker-machine start && dme'
alias dmoff='echo "Stopping docker machine..." && docker-machine stop'
alias dml='echo "Docker machines:" && docker-machine ls'
# Docker Aliases
alias dl='docker ps -lq'
alias dlc='docker ps'
alias dla='docker ps -a'
alias dli='docker images'
alias drm='docker system prune -f'
alias dke='docker exec -it'
alias dru='docker run -it --rm -v $(pwd):/docker ubuntu bash'

# OSX ALIASES
if [[ $(uname) == Darwin ]]; then
  # Reload DNS
  alias dnsflush='dscacheutil -flushcache'
  alias dnsreset='sudo killall -HUP mDNSResponder && echo macOS DNS Cache Reset'

  # Restart CUPS
  alias restart_cups='sudo launchctl stop org.cups.cupsd; sudo launchctl start org.cups.cupsd'

  # Suspend
  alias away='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

  # Show/hide hidden files in Finder
  alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
  alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

  # Recursively delete `.DS_Store` files
  alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
fi
