### Functions #################################################################
## Logging stuff.
function e_header() { [[ $silent == true ]] || echo -e "\n\033[1m$@\033[0m"; }
function e_ok()     { [[ $silent == true ]] || echo -e "  \033[1;32m✔\033[0m  $@"; }
function e_error()  { [[ $silent == true ]] || echo -e "  \033[1;31m✖\033[0m  $@"; }
function e_warn()   { [[ $silent == true ]] || echo -e "  \033[1;33m  $@\033[0m"; }
function e_arrow()  { [[ $silent == true ]] || echo -e "  \033[0;34m➜\033[0m  $@"; }
function e_footer() { [[ $silent == true ]] || echo -e "\n\033[1m$@\033[0m\n"; }

# $1 => error message, $2 => exit code
function e_abort()   { e_error $1; exit $2; }

## OS detection
is_osx()    { [[ $(uname) == Darwin ]] || return 1; }
is_linux()  { [[ $(uname) == Linux ]] || return 1; }
is_ubuntu() { [[ "$(cat /etc/issue 2> /dev/null)" =~ Ubuntu ]] || return 1; }

# Look for '.functions.d' in the current directory and source all files from it
functions="$(ls $( cd "$( dirname "${BASH_SOURCE[0]}" )/.functions.d" && pwd -P )/*.sh)"
for func in $functions; do [ -s $func ] && . $func; done

# vim: ft=sh
