[user]
  name = Vlad
  email = vlad@ghn.me
  signingkey = FCF51557

[credential]
  username = vladgh
  helper = cache --timeout=43200

[github]
  user = vladgh

[commit]
  gpgsign = true

[alias]
  al = !git config --get-regexp alias
  st = !git fetch --all --prune && git status
  co = checkout
  aa = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f"
  cm = commit -v
  cs = commit -S -v
  br = branch -av
  ba = branch --all
  nb = checkout -b
  mg = merge --no-ff
  sl = stash list
  sa = stash apply
  sp = stash pop
  ss = stash save
  df = diff HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --decorate
  stp = !git pull --all --prune && git status
  pup = !git push --set-upstream origin $(git symbolic-ref --short HEAD)
  cmm = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -s -m"
  csm = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -S -v -m"
  csa = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -S -v"
  wip = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -m \"WIP\""
  unwip = !"git log -n 1 | grep -q -c WIP && git reset HEAD~1"
  deploy = "!f(){ git checkout $2 && git merge --gpg-sign --no-ff $1 && git push && git co $1 && git rebase $2 ;}; f $(git symbolic-ref --short HEAD) ${1-master}"
  countbase = "!f() { compareBranch=${1-master}; git rev-list --count HEAD ^$compareBranch; }; f"
  squashbase = "!f() { branchName=${1-master}; commitCount=$(git countbase $branchName); git rebase -i HEAD~$commitCount; }; f"
  pullbase = "!f() { branchName=${1-master}; git checkout $branchName && git pull && git checkout - && git rebase -i $branchName; }; f"
  updatefork = !"git checkout master && git fetch upstream master && git merge upstream/master && push master"
  undo = reset --soft HEAD^

[core]
  autocrlf = false
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=2 -RFX

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

[interactive]
  diffFilter = diff-so-fancy

[push]
  default = tracking

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
