[alias]
  st = !git fetch && git status
  co = checkout
  cm = commit --verbose
  cs = commit -S --verbose
  csa = commit -a -S --verbose
  br = branch
  ba = branch --all
  nb = checkout -b
  mg = merge --no-ff
  df = diff HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --decorate
  cmm = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -s -m"
  wip = !"git add -A; git ls-files --deleted -z | xargs -0 rm -f; git commit -m \"WIP\""
  unwip = !"git log -n 1 | grep -q -c WIP && git reset HEAD~1"

[core]
  autocrlf = false
  excludesfile = /Users/vlad/.gitignore.global
  pager = less

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

[push]
  default = tracking

[include]
  path = ~/.gitconfig.private

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
